# Environment Variable File
.env.local
.env.development.local
.env.production.local
.env.test.local

# Dependency Directory
node_modules/

# Vite Build Output
dist/

# Visual Studio Code
.vscode/

# JetBrains IDE
.idea/
.fleet/
