:root {
  --sky-text-color: var(--sky-text-color-regular);
}

.sky-text {
  color: var(--sky-text-color);
  font-size: 14px;
  word-break: break-all;
}

.sky-text-primary {
  --sky-text-color: var(--sky-color-primary);
}

.sky-text-success {
  --sky-text-color: var(--sky-color-success);
}

.sky-text-warning {
  --sky-text-color: var(--sky-color-warning);
}

.sky-text-danger {
  --sky-text-color: var(--sky-color-danger);
}

.sky-text-info {
  --sky-text-color: var(--sky-color-info);
}

.sky-text-large {
  font-size: 16px;
}

.sky-text-small {
  font-size: 12px;
}
