@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
}
