@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  line-height: 24px;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  color-scheme: light dark;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.light {
  --title-text-color: #111;
  --desc-text-color: #333;
  --page-bg-color: #ddd;
  --container-bg-color: #fff;
}

.dark {
  --title-text-color: #eee;
  --desc-text-color: #ccc;
  --page-bg-color: #000;
  --container-bg-color: #222;
}
