@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  line-height: 24px;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  color-scheme: light dark;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  place-items: center;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}
