* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light;

  --sky-color-primary: #409eff;
  --sky-color-primary-light-3: #79bbff;
  --sky-color-primary-light-5: #a0cfff;
  --sky-color-primary-light-7: #c6e2ff;
  --sky-color-primary-light-8: #d9ecff;
  --sky-color-primary-light-9: #ecf5ff;
  --sky-color-primary-dark-2: #337ecc;
  --sky-color-success: #67c23a;
  --sky-color-success-light-3: #95d475;
  --sky-color-success-light-5: #b3e19d;
  --sky-color-success-light-7: #d1edc4;
  --sky-color-success-light-8: #e1f3d8;
  --sky-color-success-light-9: #f0f9eb;
  --sky-color-success-dark-2: #529b2e;
  --sky-color-warning: #e6a23c;
  --sky-color-warning-light-3: #eebe77;
  --sky-color-warning-light-5: #f3d19e;
  --sky-color-warning-light-7: #f8e3c5;
  --sky-color-warning-light-8: #faecd8;
  --sky-color-warning-light-9: #fdf6ec;
  --sky-color-warning-dark-2: #b88230;
  --sky-color-danger: #f56c6c;
  --sky-color-danger-light-3: #f89898;
  --sky-color-danger-light-5: #fab6b6;
  --sky-color-danger-light-7: #fcd3d3;
  --sky-color-danger-light-8: #fde2e2;
  --sky-color-danger-light-9: #fef0f0;
  --sky-color-danger-dark-2: #c45656;
  --sky-color-error: #f56c6c;
  --sky-color-error-light-3: #f89898;
  --sky-color-error-light-5: #fab6b6;
  --sky-color-error-light-7: #fcd3d3;
  --sky-color-error-light-8: #fde2e2;
  --sky-color-error-light-9: #fef0f0;
  --sky-color-error-dark-2: #c45656;
  --sky-color-info: #909399;
  --sky-color-info-light-3: #b1b3b8;
  --sky-color-info-light-5: #c8c9cc;
  --sky-color-info-light-7: #dedfe0;
  --sky-color-info-light-8: #e9e9eb;
  --sky-color-info-light-9: #f4f4f5;
  --sky-color-info-dark-2: #73767a;
  --sky-box-shadow: 0px 12px 32px 4px rgba(0 0 0 / 4%), 0px 8px 20px rgba(0 0 0 / 8%);
  --sky-box-shadow-light: 0px 0px 12px rgba(0 0 0 / 12%);
  --sky-box-shadow-lighter: 0px 0px 6px rgba(0 0 0 / 12%);
  --sky-box-shadow-dark: 0px 16px 48px 16px rgba(0 0 0 / 8%), 0px 12px 32px rgba(0 0 0 / 12%), 0px 8px 16px -8px rgba(0 0 0 / 16%);
  --sky-bg-color: #fff;
  --sky-bg-color-page: #f2f3f5;
  --sky-bg-color-overlay: #fff;
  --sky-text-color-primary: #303133;
  --sky-text-color-regular: #606266;
  --sky-text-color-secondary: #909399;
  --sky-text-color-placeholder: #a8abb2;
  --sky-text-color-disabled: #c0c4cc;
  --sky-border-color: #dcdfe6;
  --sky-border-color-light: #e4e7ed;
  --sky-border-color-lighter: #ebeef5;
  --sky-border-color-extra-light: #f2f6fc;
  --sky-border-color-dark: #d4d7de;
  --sky-border-color-darker: #cdd0d6;
  --sky-fill-color: #f0f2f5;
  --sky-fill-color-light: #f5f7fa;
  --sky-fill-color-lighter: #fafafa;
  --sky-fill-color-extra-light: #fafcff;
  --sky-fill-color-dark: #ebedf0;
  --sky-fill-color-darker: #e6e8eb;
  --sky-fill-color-blank: #fff;
  --sky-mask-color: rgba(0 0 0 / 9%);
  --sky-mask-color-extra-light: rgba(0 0 0 / 3%);
  --sky-color-white: #fff;
  --sky-color-black: #000;
  --sky-disabled-bg-color: var(--sky-fill-color-light);
  --sky-disabled-text-color: var(--sky-text-color-placeholder);
  --sky-disabled-border-color: var(--sky-border-color-light);
  --sky-overlay-color: rgba(0 0 0 / 8%);
  --sky-overlay-color-light: rgba(0 0 0 / 7%);
  --sky-overlay-color-lighter: rgba(0 0 0 / 5%);
  --sky-border-width: 1px;
  --sky-border-style: solid;
  --sky-border-color-hover: var(--sky-text-color-disabled);
  --sky-border: var(--sky-border-width) var(--sky-border-style) var(--sky-border-color);
  --sky-svg-monochrome-grey: var(--sky-border-color);
}

:root.dark {
  color-scheme: dark;

  --sky-color-primary: #409eff;
  --sky-color-primary-light-3: #3375b9;
  --sky-color-primary-light-5: #2a598a;
  --sky-color-primary-light-7: #213d5b;
  --sky-color-primary-light-8: #1d3043;
  --sky-color-primary-light-9: #18222c;
  --sky-color-primary-dark-2: #66b1ff;
  --sky-color-success: #67c23a;
  --sky-color-success-light-3: #4e8e2f;
  --sky-color-success-light-5: #3e6b27;
  --sky-color-success-light-7: #2d481f;
  --sky-color-success-light-8: #25371c;
  --sky-color-success-light-9: #1c2518;
  --sky-color-success-dark-2: #85ce61;
  --sky-color-warning: #e6a23c;
  --sky-color-warning-light-3: #a77730;
  --sky-color-warning-light-5: #7d5b28;
  --sky-color-warning-light-7: #533f20;
  --sky-color-warning-light-8: #3e301c;
  --sky-color-warning-light-9: #292218;
  --sky-color-warning-dark-2: #ebb563;
  --sky-color-danger: #f56c6c;
  --sky-color-danger-light-3: #b25252;
  --sky-color-danger-light-5: #854040;
  --sky-color-danger-light-7: #582e2e;
  --sky-color-danger-light-8: #412626;
  --sky-color-danger-light-9: #2b1d1d;
  --sky-color-danger-dark-2: #f78989;
  --sky-color-error: #f56c6c;
  --sky-color-error-light-3: #b25252;
  --sky-color-error-light-5: #854040;
  --sky-color-error-light-7: #582e2e;
  --sky-color-error-light-8: #412626;
  --sky-color-error-light-9: #2b1d1d;
  --sky-color-error-dark-2: #f78989;
  --sky-color-info: #909399;
  --sky-color-info-light-3: #6b6d71;
  --sky-color-info-light-5: #525457;
  --sky-color-info-light-7: #393a3c;
  --sky-color-info-light-8: #2d2d2f;
  --sky-color-info-light-9: #202121;
  --sky-color-info-dark-2: #a6a9ad;
  --sky-box-shadow: 0px 12px 32px 4px rgba(0 0 0 / 36%), 0px 8px 20px rgba(0 0 0 / 72%);
  --sky-box-shadow-light: 0px 0px 12px rgba(0 0 0 / 72%);
  --sky-box-shadow-lighter: 0px 0px 6px rgba(0 0 0 / 72%);
  --sky-box-shadow-dark: 0px 16px 48px 16px rgba(0 0 0 / 72%), 0px 12px 32px #000, 0px 8px 16px -8px #000;
  --sky-bg-color: #141414;
  --sky-bg-color-page: #0a0a0a;
  --sky-bg-color-overlay: #1d1e1f;
  --sky-text-color-primary: #e5eaf3;
  --sky-text-color-regular: #cfd3dc;
  --sky-text-color-secondary: #a3a6ad;
  --sky-text-color-placeholder: #8d9095;
  --sky-text-color-disabled: #6c6e72;
  --sky-border-color-darker: #636466;
  --sky-border-color-dark: #58585b;
  --sky-border-color: #4c4d4f;
  --sky-border-color-light: #414243;
  --sky-border-color-lighter: #363637;
  --sky-border-color-extra-light: #2b2b2c;
  --sky-fill-color-darker: #424243;
  --sky-fill-color-dark: #39393a;
  --sky-fill-color: #303030;
  --sky-fill-color-light: #262727;
  --sky-fill-color-lighter: #1d1d1d;
  --sky-fill-color-extra-light: #191919;
  --sky-fill-color-blank: transparent;
  --sky-mask-color: rgba(0 0 0 / 80%);
  --sky-mask-color-extra-light: rgba(0 0 0 / 30%);
}
