name: lint

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']
jobs:
  lint:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8.2.0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm
      - name: install dependencies
        run: pnpm install
      - name: run lint
        run: pnpm lint
        continue-on-error: true
